<div class="fh5co-loader"></div>

<div id="page">
  <app-nav-bar></app-nav-bar>

  <header
    id="fh5co-header"
    class="fh5co-cover fh5co-cover-sm"
    role="banner"
    style="
      background-image: url(../../../assets/images/browse-bg.jpg);
      background-position: left;
    "
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <h1 class="mb30">Browse Our Movies</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-project" class="fh5co-bg-section border-bottom">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading animate-box">
					<span>Choose any genres</span>
					<h2>Genres</h2>
				</div>
			</div>

			<div class="row" *ngIf="genres">
        <div *ngFor="let genre of genres">
          <a (click)="getMoviesFromGenre(genre.id)" style="cursor: pointer;">
            <div class="col-md-3 col-sm-6">
              <div class="feature-center text-center" data-animate-effect="fadeInUp">
                <span class="icon">
                  <i class="icon-video2"></i>
                </span>
                <h3>{{genre.name}}</h3>
              </div>
            </div>
          </a>
        </div>

				<!-- <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="../../../assets/images/work-2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Smart Layers</h3>
							<p>Brand &amp; Identity</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="../../../assets/images/work-3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Notepad Mockup</h3>
							<p>Illustration</p>
						</div>
					</a>
				</div> -->
			</div>
		</div>

	</div>



	<!-- <div id="fh5co-services" class="fh5co-bg-section border-bottom">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
					<div class="fh5co-heading">
						<span>We're expert</span>
						<h2>What We Do</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
						<h3>Retina Ready</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Learn more</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<i class="icon-command"></i>
						</span>
						<h3>Fully Responsive</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Learn more</a></p>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<i class="icon-power"></i>
						</span>
						<h3>Web Starter</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Learn more</a></p>
					</div>
				</div>

				<div class="clearfix visible-md-block"></div>

				<div class="col-md-4 col-sm-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
						<h3>Retina Ready</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Learn more</a></p>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<i class="icon-command"></i>
						</span>
						<h3>Fully Responsive</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Learn more</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<i class="icon-power"></i>
						</span>
						<h3>Web Starter</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Learn more</a></p>
					</div>
				</div>

				<div class="clearfix visible-md-block"></div>

			</div>
		</div>
	</div> -->

  <app-footer></app-footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
